In [1]:
#python 
print(5+6)
print(50-3)
print((50-5*6)/4)

11
47
5.0

In [3]:
name = str(input("Enter your name - "))
print("hello,"+name)

Enter your name - kaviya
hello,kaviya

In [6]:
a=input("Enter your name-")
print("Hello",a)

Enter your name-Aravind
Hello Aravind

In [6]:
a = input("enter the first value ")
b = input("enter the second value")
int(a)+int(b)

enter the first value 12
enter the second value12

24

In [13]:
weight=int(input("enter the weight in kgs-"))
height=float(input("enter the height in mtrs-"))
total = (weight/(height**2))
print(round(total,2))

enter the weight in kgs-70
enter the height in mtrs-1.69
24.51

In [13]:
x=46/4.45 ** 2
print(x)
print(round(x,3))

2.32293902285065
2.323

In [2]:
round(2.6666,2)

2.67

In [14]:
rate=int(input("enter rate per hour -"))
work=int(input("enter number of hrs worked- "))
grosspay = rate * work
print(grosspay)

enter rate per hour -500
enter number of hrs worked- 2
1000

In [1]:
name=input('enter the name -')
age=int(input('enter the age -'))
print(name,age)

enter the name -vijay
enter the age -25
vijay 25

In [7]:
A=int(input('price of the bag-'))
B=int(input('price of an apple-'))
total=A+B
print(total)

price of the bag-20
price of an apple-30
50

In [19]:
students=int(input('enter a number of students'))
if students>=100:
    print('matchead')
else:
    print(' not matched')

enter a number of students10000
matchead

In [20]:
principle=int(input("enter the amount-"))
rate=float(input("enter the rate -"))
time=int(input("enter the time -"))
total=((principle*rate*time)/100)
print(total+principle)

enter the amount-500
enter the rate -67
enter the time -5
2175.0

In [30]:
num=int(input("enter the values-"))
num>10

enter the values-12

True

In [3]:
num = int(input("enter the value"))
(num % 5 ==0)and(num>10)

enter the value12

False

In [7]:
num = int(input("enter the value"))
(num % 5 ==0)or(num>10)

enter the value40

True

In [35]:
num = int(input("enter the value"))
not (num % 5)

enter the value10

True

In [42]:
x=input("enter a letter -")
x in "a,e,i,o,u"

enter a letter -a

True

In [1]:
b=int(input("enter the marks"))
if b>40:
    print("passed")
else:
    print("failed")

enter the marks12
failed

In [56]:
a=int(input("enter the number-"))
if a%7 ==0:
    print("divisible")
else:
    print("not divisible")

enter the number-49
divisible

In [57]:
num1=int(input("enter the number 1 -"))
num2=int(input("enter the number 2 -"))
if num1>num2:
    print("num1 is greater than num2")
else:
    print("num2 is greater than num1")

enter the number 1 -5
enter the number 2 -7
num2 is greater than num1

In [7]:
num=[2,1,5,3,7]
for x in num:
    print(x ,end=' ')

2 1 5 3 7

In [64]:
for ch in "abcd":
        print(ch)

a
b
c
d

In [66]:
numbers=[2,1,5,3,7]
product=1
for i in numbers:
    product=i*product
print(product)

210

In [68]:
for a in "bdcd":
    print(a)

b
d
c
d

In [5]:
x=1
for i in range(1,11):
    x=x*i
    print(x)

1
2
6
24
120
720
5040
40320
362880
3628800

In [9]:
x=[55,60,65,60,50,70,75,80,85,90]
total = 0
for i in x:
    total=total+i
print("average- ", total/10)

average-  69.0

In [77]:
for i in range(1,11):
    print(5,"x",i,"=",5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [12]:
for i in range (1,11):
    print(3,'x',i,'=',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [8]:
for i in range (1,11):
    print(10,'x',i,'=',10*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [10]:
num=int(input("enter the number= "))
x=1
for i in range(num,1,-1):
    x=x*i
print("factorial",x)

enter the number= 5
factorial 120

In [12]:
rad=int(input("enter the radius -"))
area=(22/7)*(rad**2)
print("area is-",area)

enter the radius -10
area is- 314.2857142857143

In [95]:
x=int(input("enter the height-" ))
y=int(input("enter the base-"))
hypo=(((x**2)+(y**2))**(1/2))
print("hypo -",hypo)

enter the height-3
enter the base-5
hypo - 5.830951894845301

In [92]:
age=int(input("enter the age-"))
if age>18:
    print("eligible")
else:
    print("not eligible")

enter the age-17
not eligible

In [94]:
x=int(input("enter the number-"))
if x%2 ==0:
    print("even number")
else:
    print("odd number")

enter the number-2
even number

In [103]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [105]:
import math #libraries
x=int(input("enter the height-" ))
y=int(input("enter the base-"))
hypo=math.sqrt((x**2)+(y**2))
print(hypo)

enter the height-3
enter the base-5
5.830951894845301

In [5]:
def funtr(q):
    t=""
    for i in q:
        if i.isdigit():
            t=t+i
            return t
x="PYTHON 3.9"
y=funtr(x)
print(x,y,sep="*")

PYTHON 3.9*3

In [6]:
def Lshift(qrr,n):
    L=len(qrr)
    for x in rnge(0,n):
        y=qrr[x]
        for i in rnge(0,L-1):
            qrr[i]=qrr[i+1]
            qrr[L-1]=y
    print(qrr)

In [ ]:
print()