# comprehensions in python

In [2]:
# [<experssion> for <var> in <sequence> if <condition>]

### Rules

Identify the sequence
check for condition(optional)
write the expression
enclose it in mutable data structure

In [1]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
[i**2 for i in range(1,11) if i%2 ==0]

[4, 16, 36, 64, 100]

#### dict of square number

In [3]:
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [4]:
{i : "even"if i%2==0 else "odd" for i in range(1,11)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

#### sum of the all values in sales tuple

In [2]:
sales=["$290","$500","$800","$650"]
sum([int(l.strip("$"))for l in sales])

2240

#### extract all the numbers for the string

In [6]:
string="abcd1234"
[int(i) for i in string if i.isdigit()]

[1, 2, 3, 4]

### mention all the even number proceed in list

In [7]:
l=[2,4,3,5,6,7,11,90,3,8,10,11]
[i for i in l if i%2==0]

[2, 4, 6, 90, 8, 10]

In [9]:
num=int(input("Enter the number -"))

Enter the number -15

# Functions in python

In [11]:
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    return fact

In [12]:
factorial(5)

120

##### Req Positional Argument

In [56]:
def demo(name,age):
    print("Name -",name)
    print("Age -",age)

In [58]:
demo("john",23)

Name - john
Age - 23

#### Default Argument

In [62]:
def demo(name,age=30): #default argument is set,if we pass it will set for that
    print("Name -",name)
    print("Age -",age)

In [60]:
demo("john")

Name - john
Age - 30

#### Variable-length Argument

In [63]:
def demo(*args):
    print(args)

In [67]:
demo(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [68]:
sorted([1,3,2,4],reverse=True)

[4, 3, 2, 1]

In [69]:
factorial(3)

6

In [72]:
var=factorial #(function object)

In [71]:
var(5)

120

In [73]:
def func(a,b):
    if a<b:
        return a
    else:
        return b

#### function call

In [75]:
new=func(2,4)
x

2

In [76]:
new=func

In [77]:
new(2,4)

2

In [79]:
var(5)

120

# Lambda function

In [80]:
lambda  a,b : a*b

In [81]:
mul=lambda a,b : a*b

In [82]:
mul(3,2)

6

In [83]:
even_odd=lambda x : "even" if x%2==0 else "odd"
even_odd(4)

'even'

#### generate the list of square numbers

In [85]:
lst=(1,3,2,6,7,9)

list(map(lambda i:i**2,lst))

[1, 9, 4, 36, 49, 81]

In [88]:
sales=["$1000","$580","$9000","$290"]
func= lambda s:int(s.strip("$"))

sum(map(func,sales))

10870

### filter the even number

In [1]:
lst=(1,3,2,6,7,9)

list(filter(lambda i:i%2==0,lst))

[2, 6]

In [1]:
from functools import reduce #intro to reduce
#to print product of 10 numbers

reduce(lambda x,y : x*y , range(1,11))  #reduce will give the single value

3628800