# Dictionary

In [1]:
d={}
bool(d)

False

In [2]:
type(d)

dict

In [1]:
countries={"india":"INR","USA":"dollar"}
print(countries)

{'india': 'INR', 'USA': 'dollar'}

In [2]:
countries.keys()

dict_keys(['india', 'USA'])

In [3]:
countries["india"]

'INR'

In [4]:
countries["japan"]="yen"
countries

{'india': 'INR', 'USA': 'dollar', 'japan': 'yen'}

In [5]:
countries['africa']='ruba'
print(countries)

{'india': 'INR', 'USA': 'dollar', 'japan': 'yen', 'africa': 'ruba'}

In [6]:
countries={"bingo":'kasu','chicago':'money','asia':'moonji'}
countries.update

In [7]:
countries

{'bingo': 'kasu', 'chicago': 'money', 'asia': 'moonji'}

Add new dict

In [8]:
new_countries={"singapore":"SGD","indonesia":"IDR","Thailand":"Bhat"}
countries.update(new_countries)
print(countries)

{'india': 'RS', 'USA': 'dollar', 'japan': 'yen', 'singapore': 'SGD', 'indonesia': 'IDR', 'Thailand': 'Bhat'}

Remove dict

In [9]:
countries.popitem()
print(countries)

{'india': 'RS', 'USA': 'dollar', 'japan': 'yen', 'singapore': 'SGD', 'indonesia': 'IDR'}

program in dictionary

In [11]:
countries={"India":"INR","USA":"USD","Japan":"yen","Singapore":"SGD","indonesia":"IDR"}
country=input("Enter the country name -")
if country in countries:                 #search n countres
    print(country,"-",countries[country])
else:
    currency=input("enter currency")
    countries[country]=currency
    print(countries)

Enter the country name -India
India - INR

Iterating on dict

In [12]:
countries.keys()

dict_keys(['India', 'USA', 'Japan', 'Singapore', 'indonesia'])

In [13]:
countries.values()

dict_values(['INR', 'USD', 'yen', 'SGD', 'IDR'])

In [14]:
countries.items()

dict_items([('India', 'INR'), ('USA', 'USD'), ('Japan', 'yen'), ('Singapore', 'SGD'), ('indonesia', 'IDR')])

In [15]:
list(countries.keys())

['India', 'USA', 'Japan', 'Singapore', 'indonesia']

In [16]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# decision making

# if statment

In [17]:
num=int(input("enter the number -"))
if num >0:
    print("positive")
else:
    print("negative")

enter the number -3
positive

In [18]:
num=int(input('enter the number-'))
if num%2==0:
    print('even')
else:
    print('odd')

enter the number-3
odd

In [19]:
sub=lambda a,b:a-b
sub(20,5)

15

In [20]:
new=lambda y :'odd' if y%2!=0 else 'even'

In [21]:
new(7)

'odd'

In [22]:
def aravind(num):
    if num%2==0:
        print('even')
    else:
        print('odd')
    return

In [23]:
aravind(6)

even

In [24]:
sub(30,15)

15

In [25]:
aravind(9)

odd

In [2]:
df=int(input('enter the number-'))
if df>40:
    print('positive')
else:
    print('negative')

enter the number-50
positive

In [33]:
aravind(11)

odd

# nested if statement

In [4]:
num=int(input("enter the number -"))
if num>0:
    if num%5==0:
        print("positive and divisible by 5")
    else:
        print("positive and not divisible by 5")
else:
    print("negative")

enter the number -47
positive and not divisible by 5

In [9]:
num=int(input('enter the number - '))
if num>0:
    if num%10==0:
        print('its divisible by 10')
    else:
        print('not divisible by 10')
else:
    print('null')

enter the number - 50
its divisible by 10

# if...elif...else...statement

num=int(input("enter the number -"))
if num =10:
    print("positive")
elif num<5:
    print("negative")
else:
    print("zero")

In [25]:
num=int(input("enter the number -"))
if num ==10:
    print("positive")
elif num<5:
    print("negative")
else:
    print("zero")

enter the number -4
negative

In [32]:
num=int(input('enter the number - '))
if num%4==0:
    print('its divsible by 4')
elif num%3==0:
    print('its divisible by 3')
elif num%10==0:
    print('its divisible by 10')
else:
    print('invalid no')

enter the number - 110
its divisible by 10

# Examples

In [28]:
X=int(input("enter the hours -"))
Y=int(input("enter the rate -"))
if X <= 40:
    Z=X*Y
    print("gross pay-",Z)
elif X>40:
    A=(40*Y)+(1.5*Y)*(X-40)
    print("gross pay -",A)
else:
    print("not valid")

enter the hours -3
enter the rate -3
gross pay- 9

In [9]:
wt=int(input("Enter the weight-"))
ht=float(input("Enter the height-"))
bmi=(wt/(ht**2))
if bmi<18.5:
    print("Under weight")
elif bmi<24.9: 
    print("Healthy weight")
elif bmi<29.9:
    print("overweight")
elif bmi<30:
    print("above obesity")
else:
    print("not valid")

Enter the weight-60
Enter the height-5.2
Under weight

In [30]:
wt=int(input("Enter the weight-"))
ht=float(input("Enter the height-"))
bmi=(wt/(ht**2))
if bmi>18.5:
    if bmi>18.5 and bmi<24.9:
        print("Healthy weight")
        if bmi>24.9 and bmi<29.9:
            print("overweight")
            if bmi<30:
                print("above obesity")
else:
    print("Under weight")

Enter the weight-3
Enter the height-3
Under weight

In [31]:
n = int(input("Enter the subjects-"))
mark = []
for i in range (n):
    x=int(input("enter"))
    mark.append(x)
mark

Enter the subjects-3
enter3
enter3
enter3

[3, 3, 3]

# while loop

In [34]:
marks = []
while True:
    mark =input("enter the number-")
    if mark== "-1":
        break
    elif mark.isdigit():
        marks.append(int(mark))
marks

enter the number-77
enter the number-77
enter the number-78
enter the number-89
enter the number-99
enter the number-88
enter the number-77
enter the number-77
enter the number--1

[77, 77, 78, 89, 99, 88, 77, 77]

In [35]:
for i in range(1,30):
    if i%3==0:     
        continue #
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

# fibonacci seires

In [36]:
counter=1
first=0
second=1
while counter<=10:
    print(first)
    third=(first+second)
    first=second
    second=third
    counter=counter+1

0
1
1
2
3
5
8
13
21
34

# prime number

In [37]:
num=int(input("Enter the number-"))
var=True 
for i in range(2,num):
    if num%i==0:
        var=False
        break
if var:
    print("prime")
else:
    print("not prime")

Enter the number-88
not prime

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
num= [i**2 for i in range(1,11)]
print(num)

In [ ]:
g=("a,b,c,d,e")
l=(6,7,8,9,10)
dict(zip(g,l))

In [ ]:
product=1
for i in range(1,11):
    product=5*i
    print(i ,"*","5","=",product)

In [ ]:
num=int(input())
num

In [ ]:
for i in range(1,6):
    for j in range(1,3):
        print(j,end="")
    print(i)