### Hello world program

In [2]:
#output function
#comments

In [17]:
print("Hello world")
print('Lets see csk match')
print(122334455)
#comments 
print('@')
match='@'
type(match)#it is used check data types
ticketPrice = 3000
print(ticketPrice)#output
type(ticketPrice)#function 
age=123
print(age)

Hello world
Lets see csk match
122334455
@
3000
123

In [21]:
#squ rooot 
num=5
sq_root=num**2
sq_root

25

In [28]:
#input
name = input("Enter your  good name : ")
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
print("welcome to ipl match",name)#concat(joining)
pizzaName=str(input("Enter your choice"))
print("yours selected this one",pizza_name)
print("going to Trip from Trichy")#t tab space\n new line

Enter your  good name : bharath
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
welcome to ipl match bharath
Enter your choiceveg pizza
yours selected this one Mexican pizza
going to Trip from Trichy

In [32]:
if 12==12:
        print("hi")
        print("hi")
        print("hi")

hi
hi
hi

In [34]:
moviename="Leo"
print(moviename)

Leo

In [38]:
num = float(input("enter a number:"))
squ_root= num ** 0.5
if squ_root>=1 : 
    print("foo")
else :
    print("Bar")

enter a number:3
foo

In [37]:
3**0.5

1.7320508075688772

In [43]:
score = int(input("enter score details"))
teamName = str(input("enter your fav team Name"))
if score == 277:
    print("win the match ",teamName)
else :
    print("loss the match",end="**")

enter score details233
enter your fav team Namecsk
loss the match**

# basic program

In [44]:
print("Hello Kaviya")

Hello Kaviya

In [45]:
print(123445566)

123445566

In [50]:
print('@@@@@@$#%&^') #string data type

@@@@@@$#%&^

In [51]:
print('Welcome to python classs....') #String k a v i y a collection characters.
print("lets go to ipl match....") #dobule qutoes assign
print('''Hello world''')#3 qutoes assign

Welcome to python classs....
lets go to ipl match....
Hello world

In [54]:
print('Welcome to python classs....\nlets go to ipl match...\nHello world')#new line

Welcome to python classs....
lets go to ipl match...
Hello world

In [56]:
print('python\t\tclass started')#\t tab space

python		class started

In [64]:
#function:
def buy():  
    print("Started to purcharse...")

In [62]:
#calling part
buy()

Started to purcharse...

In [59]:
def sum():
    print(2+8)

In [60]:
sum()

10

In [67]:
#variable declare
a=12
b=13
print(a+b)

25

In [69]:
#static
ticketPrice=120
name = 'Kaviya..'
print(name)
print(ticketPrice)

Kaviya..
120

In [ ]:
#dynamic
ticketPrice=input("enter price")
print("the price ")

In [77]:
age= int(input("enter your age"))
#age=15
if age>=18:
    print("welcome to vote")
else:
    print("try to next time")

enter your age12
try to next time

In [78]:
print("welcome to python class")

welcome to python class

In [87]:
name="durga"

In [88]:
print(name)

durga

In [89]:
po=input("enter")
print("welcome to ",po)

enterherul
welcome to  herul

In [91]:
print("hi","kaviya")

hi kaviya

In [ ]:
# Input
name=input("enter your good name")
print('~~~~~~~~~')
print("welcome to ipl match",name)#concat(joining)
pizzaname =str (input("enter your choice"))
print("your selected this one",pizzaname)
print("going to trip from trichy")#t tab space\n new line

In [3]:
# function
def buy():#syntax def function name()
    print("started to purchase...")
    # calling part
buy()

started to purchase...

In [7]:
name = str(input("enter the name"))
print("hello,"+name)

enter the nameraja
hello,raja

In [8]:
a=input("enter the name")
print("hello,a")

enter the nameraja
hello,a

In [13]:
a=int(input("enter the first value"))
b=int(input("enter the second value"))
print(a+b)

enter the first value

ValueError: invalid literal for int() with base 10: ''