# Casting/Input I/O

In [1]:
x=10
print(x)

10

In [2]:
x="10"
y="20"
z=x+y
print(z)

1020

In [2]:
x=float("10.90")
y=float("20.98")
first_Sem = 234
scon_Sem = 324
print(first_Sem+scon_Sem)
print(x+y) #DYNAMIC, " ",10.90,12,'B','@',''&','N'--> CHAR,0,1--> 2 --> 0-F,1-T

558
31.880000000000003

In [3]:
x=input()
print(x)

9
9

In [5]:
x=input()
y=input()
print(x+y)

naveen
kumar
naveenkumar

In [6]:
x=int(input("Enter your num-1 val:"))
y=int(input("Enter your num-2 val:"))
print(x+y)

Enter your num-1 val:23
Enter your num-2 val:34
57

In [9]:
company_name=input()
location=input()
print("My company is\t",company_name)
print("My company is ",company_name)
print("hi\ndude")#TAB SPACE \T \N

TCS
CHENNAI
My company is	 TCS
My company is  TCS
hi
dude

In [ ]:
GET INPUT
"my name is: Steve"
"My Age is: 20"
"my address is : Anna nager,chennai-600072"
GET integer inputfor variable x,y,v.mul all3(x*y*v) divide the mul value by added value print it.

get input for name,score,department get score for100,divide 100/10

In [11]:
x=int(input("ENTER THE X"))
y=int(input("ENTER THE Y"))
v=int(input("ENTER THE V"))
g=x*y*v #VARIABLE
k=x+y+v
d=g/k
print(d)

ENTER THE X3
ENTER THE Y2
ENTER THE V4
2.6666666666666665

In [16]:
#commands
name=input()
print("welcome to python class "+name) #+--> tr ,,

nk
welcome to python class nk

# IF ELSE BOOLEAN VALUE,COMPARISION OPERA

In [3]:
if False: #working true state 
    print("Hello buddy")
else:
    print("bye...")

bye...

In [4]:
print("buddy"!="budy")

True

In [3]:
friend_name = "krish"
if(friend_name == "krish"):
    print("hi dudeyyy...")
else:
    print("hello")

hi dudeyyy...

In [4]:
food = "Pizza" #value assigning ==> check the of the valuse
if(food == "Pizza"):
    print("Let's eat pizza...")
else:
    print("live in home")

Let's eat pizza...

In [8]:
# write cricket toss decision Maker?
import random
print(random.choice(["Head","Tails"])) # define

Tails

In [7]:
import random
print(random.choice(("pizza","biriyani","ice")))

pizza

In [23]:
#elseif
amt=int(input("enter the amt\t"))
if amt==800 :
    print("WE Can tour chennai...")
elif amt==2000 :
    print("WE can going KERALA")
else:
    print("no option")

enter the amt	1300
no option

In [26]:
#nestedif
company=input("ent company")
if company=="TCS":
    print("thi i my dream")
    role=input("what is role..")
    if role=="devloper":
        print("software eng")
    else:
        print("your a tester")
else:
    print(" this  not your dream job...")

ent companysify
 this  not your dream job...

In [1]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [7]:
# STRING OPERATIONS :

In [2]:
# +,-,/,*,%

x=12
y=10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

22
2
120
1.2
2

In [7]:
x=12
c=10
c+=x# c=c+x==> c=10+12 ==> 22
print(c)
c=10
c-=x
print(c)

# c-=x #c=c-x 10-12 
# print(c)
# c*=x
# print(c)
# c/=x
# print(c)
# c%=x
# print(c)

22
-2

In [9]:
#  comparision relational --> ==,<,>,<=,>=,!=
name = "python"
name1="java"

name==name1

False

In [12]:
print(12<10)
print(12<=10)
print(12>=10)

False
False
True

In [18]:
 #AND,OR,NOT(&&,||,!)
    
mark=12
m2=13
(mark<10)and (mark==12) #f t--> f
(mark<10)or (mark==12) #f t --> t
not((mark<10)or (mark==12)) #or-->t--> f

False

In [20]:
 (mark<10)and (mark==12)

False

In [ ]:
 #output function

In [ ]:
ghhyhh

In [37]:
print("hi\n\thello")
print("\tpython \t\t pizza")
#commod notes raw content
#print("python")
#\t tb 
#\n new line

hi
	hello
	python 		 pizza

In [21]:
print('6778955666ghyjufvdr')

6778955666ghyjufvdr

In [23]:
print(4554455.899)

4554455.899

In [25]:
print('ghhyj')

ghhyj

In [28]:
movie_name=input("enter name of the film ")

enter name of the film jumanji

In [29]:
movie_name

'jumanji'

In [30]:
ticketPrice=input("enter amt ")
print("THE price is "+ticketPrice)

enter amt 200
THE price is200

In [33]:
favouriteFood=input("enter your favourite food ")
print(" your favourite food is "+favouriteFood)

enter your favourite food rice
 your favourite food is rice